@import "@/assets/style/theme.scss";

#app {
  & > nav.navbar {
    .navbar-brand {
      min-width: 130px;

      .navbar-item {
        background: transparent !important;
      }
    }

    .navbar-end {
      & > .navbar-item {
        margin-right: 0.5rem;

        &:last-child {
          margin-right: 0.75rem;
        }
      }
    }

    .dropdown-trigger .navbar-item {
      color: $primary-invert;

      &.is-active {
        background-color: $primary-dark !important;
      }
    }

    .dropdown.is-active .dropdown-trigger .navbar-item,
    .dropdown .dropdown-trigger .navbar-item:hover {
      cursor: pointer;
      background-color: $primary-dark;
    }

    a.dropdown-item {
      color: $text !important;
      background: none !important;

      &.is-active {
        color: $text !important;
        background: none !important;
      }

      &:hover {
        background-color: $white-ter !important;
      }

      &.is-active-route {
        background-color: $primary !important;
        color: $primary-invert !important;
      }
    }
  }

  form {
    .field.required > .label {
      &::after {
        content: "*";
        color: $red;
        margin-left: 0.2em;
      }
    }

    .field > .control {
      flex-grow: 1;
    }

    .field > .help {
      white-space: pre-line;
    }
  }

  .generated-form form {
    .schema-row {
      display: flex;
      gap: 1em;

      & + .buttons {
        margin-top: 1.5rem;
      }

      & > .schema-col {
        flex-grow: 1;
        flex-basis: 100%;
      }
    }
  }
}

.no-pointer-events {
  pointer-events: none;
}
