@import "@/assets/style/theme.scss";

#app {
  & > nav.navbar {
    .navbar-brand {
      min-width: 130px;

      .navbar-item {
        background: transparent !important;
      }
    }

    .navbar-end {
      & > .navbar-item {
        margin-right: 0.5rem;

        &:last-child {
          margin-right: 0.75rem;
        }
      }
    }

    a.dropdown-item {
      color: $text !important;
      background: none !important;

      &:hover {
        background-color: $white-ter !important;
      }
    }
  }

  form {
    .field.required > .label {
      &::after {
        content: "*";
        color: $red;
        margin-left: 0.2em;
      }
    }

    .field > .control {
      flex-grow: 1;
    }

    .field > .help {
      white-space: pre-line;
    }
  }
}

.no-pointer-events {
  pointer-events: none;
}
